nav {
  margin: auto;
  margin-top: 2rem;
  position: absolute;
  width: 300px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  height: 40px;
  width: 100px;
  background-color: rgb(158, 178, 228);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
